# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client/dist
/resources/db/migrations.mv.db
/tmp
/out-tsc

# compiled documentation output
**/documentation

# dependencies
/node_modules
/client/node_modules/

# test results
/client/test-reporter.xml
**/test-report.xml
/e2e/reports

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml


# IDE - VSCode
.vscode
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json
.historyHelper/*

# misc
/.sass-cache
/connect.lock
**/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
jest_html_reporters.html
/client/jest_html_reporters.html
/client/junit.xml
/client/test-report.xml
*.bac

# System Files
.DS_Store
Thumbs.db

# Maven
**/target/*
ci/credentials.yml
**TestDateiS3.txt
client.iml
/.directory
