:root {
    /* Colours. */
    --highlight-color: greenyellow;
    --hover-color: lightblue;
    --disabled-color: #EEE;
    --def-color-primary: rgb(255, 0, 0); /* Red. */
    --def-color-secondary: rgb(255, 207, 187); /* Light Salmon. */
    --mid-color-primary: rgb(0, 0, 255); /* Blue. */
    --mid-color-secondary: rgb(173, 216, 230); /* Light Blue. */
    --ruc-color-primary: rgb(255, 255, 0); /* Yellow. */
    --ruc-color-secondary: rgb(255, 255, 224); /* Light Yellow. */
    --fwd-color-primary: rgb(0, 128, 0); /* Green. */
    --fwd-color-secondary: rgb(144, 238, 144); /* Light Green. */

    /* Text Colors. */
    --text-black: rgba(0, 0, 0, 0.87);

    /* Team Colours. */
    --team-one: #6217f4;
    --team-two: #316bbd;
    --team-three: #4df3cc;
    --team-four: #e82b84;
    --team-five: #1a62b7;
    --team-six: #ca0716;
    --team-seven: #27ce65;
    --team-eight: #3a6b66;
    --team-nine: #cae117;
    --team-ten: #139cad;
}

html, body, #root, .App {
    height: 100%;
}

.statistics tr:hover {
    background: var(--hover-color) !important;
}

.centered-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* PlayerAnalysis Table Styling. */
.tinyWidthDiv {
    text-align: left;
    width: 5%;
    min-width: 50px;
}

.smallWidthDiv {
    text-align: center;
    width: 10%;
    min-width: 100px;
}

.mediumWidthDiv {
    text-align: center;
    width: 15%;
    min-width: 150px;
}

.largeWidthDiv {
    text-align: center;
    width: 25%;
    min-width: 250px;
}
