:root {
    /* Grid Heights. */
    --draft-room-block-height: 200px; /* Don't forget to also update hardcoded values in PlayerDetailsPopper. */
    --draft-room-player-filter-height: 40px; /* Don't forget to also update hardcoded values in PlayerDetailsPopper. */
    --draft-room-player-list-height: calc(100vh - var(--draft-room-block-height) - var(--draft-room-player-filter-height));
    --draft-room-team-list-height: calc(100vh - var(--draft-room-history-height));
    --player-details-popper-padding: 200px; /* Don't forget to also update hardcoded values in PlayerDetailsPopper. */
    --player-details-popper-height: calc(var(--draft-room-player-list-height) - var(--player-details-popper-padding));
    --draft-room-history-height: calc(var(--draft-room-block-height));

    /* Colours. */
    --highlight-color: greenyellow;
    --hover-color: lightblue;
    --disabled-color: #EEE;
    --def-color-primary: rgba(90,91,159, 1);
    --def-color-secondary: rgb(255, 207, 187);
    --mid-color-primary: rgba(0,123,167, 1);
    --mid-color-secondary: rgb(173, 216, 230);
    --ruc-color-primary: rgba(255,111,97, 1);
    --ruc-color-secondary: rgb(255, 255, 224);
    --fwd-color-primary: rgba(0,148,115, 1);
    --fwd-color-secondary: rgb(144, 238, 144);

    /* Text Colors. */
    --text-black: rgba(0, 0, 0, 0.87);

    /* Team Colours. */
    --team-one: #6217f4;
    --team-two: #316bbd;
    --team-three: #4df3cc;
    --team-four: #e82b84;
    --team-five: #1a62b7;
    --team-six: #ca0716;
    --team-seven: #27ce65;
    --team-eight: #3a6b66;
    --team-nine: #cae117;
    --team-ten: #139cad;

    /* Graph Colors. */
    --great: #90ee90;
    --good: lightblue;
    --average: #FFFFA8;
    --poor: rgb(252,210,153);
    --terrible: #ff0800;
}

html, body, #root, .App {
    height: 100%;
}

.statistics tr:hover {
    background: var(--hover-color) !important;
}

.centered-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* PlayerAnalysis Table Styling. */
.tinyWidthDiv {
    text-align: left;
    width: 5%;
    min-width: 50px;
}

.smallWidthDiv {
    text-align: center;
    width: 10%;
    min-width: 100px;
}

.mediumWidthDiv {
    text-align: center;
    width: 15%;
    min-width: 150px;
}

.largeWidthDiv {
    text-align: center;
    width: 25%;
    min-width: 250px;
}

/* Removes CartesianGrid lines from the top and bottom of Recharts graphs. */
.recharts-wrapper .recharts-cartesian-grid-horizontal line:nth-last-child(2),
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
}
