:root {
    /* Grid Heights. */
    --draft-room-first-row-height: 260px;
    --draft-room-second-row-height: calc(100vh - var(--draft-room-first-row-height));
    --draft-room-tab-panel-height: 40px;
    --draft-room-players-search-height: 0px;
    --draft-room-players-list-height: calc(var(--draft-room-second-row-height) - var(--draft-room-tab-panel-height) - var(--draft-room-players-search-height));
    --draft-room-right-column-height: calc(var(--draft-room-first-row-height) + var(--draft-room-second-row-height));

    /* Tab Panel Heights. */
    --tab-panel-secondary-height: 20px;

    /* Component Heights. */
    --player-card-height: calc(var(--draft-room-first-row-height) - 20px);

    /* Colours. */
    --highlight-color: greenyellow;
    --hover-color: lightblue;
    --disabled-color: #EEE;
    --def-color-primary: rgb(255, 0, 0); /* Red. */
    --def-color-secondary: rgb(255, 207, 187); /* Light Salmon. */
    --mid-color-primary: rgb(0, 0, 255); /* Blue. */
    --mid-color-secondary: rgb(173, 216, 230); /* Light Blue. */
    --ruc-color-primary: rgb(255, 255, 0); /* Yellow. */
    --ruc-color-secondary: rgb(255, 255, 224); /* Light Yellow. */
    --fwd-color-primary: rgb(0, 128, 0); /* Green. */
    --fwd-color-secondary: rgb(144, 238, 144); /* Light Green. */

    /* Text Colors. */
    --text-black: rgba(0, 0, 0, 0.87),
}

.commissionerControls {
    height: var(--draft-room-first-row-height);
}
.teamList {
    height: var(--draft-room-second-row-height);
}
.block {
    height: var(--draft-room-first-row-height);
}
.statistics {
    height: var(--draft-room-second-row-height);
}

.statistics tr:hover {
    background: var(--hover-color) !important;
}

.playerSearch {
    height: var(--draft-room-second-row-height);
}

.teamAnalysis {
    height: var(--draft-room-second-row-height);
}

.myTeam {
    height: var(--draft-room-right-column-height);
}

.centered-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* PlayerAnalysis Table Styling. */
.tinyWidthDiv {
    text-align: left;
    width: 5%;
    min-width: 50px;
}

.smallWidthDiv {
    text-align: center;
    width: 10%;
    min-width: 100px;
}

.mediumWidthDiv {
    text-align: center;
    width: 15%;
    min-width: 150px;
}

.largeWidthDiv {
    text-align: center;
    width: 25%;
    min-width: 250px;
}

