spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    ddl-auto: none
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/superdraftfantasy
    username: sdadmin
    password: sdadmin
    driverClassName: org.postgresql.Driver